/* Style global */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column; /* Aligner en colonne */
    justify-content: center;
    align-items: center;
    background: none;
    background: linear-gradient(135deg, #6a0dad, #dda0dd); /* Dégradé violet à mauve */
    background-attachment: fixed; /* Fixe le fond pour qu'il couvre tout */
    overflow: hidden; /* Évite les scrolls indésirables */
}


/* Utiliser la police cursive Dancing Script pour l'ensemble du site */
body, h1, h2, p, a, button {
    font-family: 'Dancing Script', cursive;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Transparence pour voir la vidéo à travers */
    padding: 50px;
    margin: 20px 0; /* Ajoute de l'espace entre les blocs */
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

h1 {
    color: purple;
    margin-bottom: 20px;
}

h2 {
    color: darkviolet;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    color: darkviolet;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Style des boutons */
.container_button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    width: 200px;
    height: 60px;
    background-color: darkviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    background-color: purple;
    transform: scale(1.05);
}

.container_image {
    margin: 30px 0;
}

.manga-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 5px solid purple;
    border-radius: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 20px auto;
}

.arrow-button {
    width: 50px;
    height: 50px;
    background-color: darkviolet;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.arrow-button:hover:not(:disabled) {
    background-color: purple;
}
